{% extends "base.html" %}
{% load static %}

{% block title %}Add Todo{% endblock title %}
{% block css %}{% static "updatetodo/updatetodo.css" %}{% endblock css %}


{% block content %}
<section>
  <h1 style='color: goldenrod; text-align: center; padding: 20px;'>Update</h1>
  <form autocomplete="off" action="updatetodo/{{data.id}}" method="post">
    {% csrf_token %}
    <input type="text" autocomplete="new-text" name="title" autofocus placeholder="title" required value="{{ data.title }}">
    <textarea name="description" id="description" cols="30" rows="5" placeholder="description" required>{{ data.description }}</textarea>
    <input type="submit" name="submit" value="Update">
  </form>
</section>
{% endblock content %}